<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>404-对不起！您访问的页面不存在</title>

		<link rel="stylesheet" href="/static/stylesheets/reset.css">
		<link rel="stylesheet" href="/static/stylesheets/404.css">
		<link rel="stylesheet" href="/static/stylesheets/main.css">

	<body>
		<div id="fof">
			<div></div>
			<canvas></canvas>
			<p><font size="3" face="arial" color="black">对不起，您请求的页面不存在、或已被删除、或暂时不可用</font></p>
			<br>
			<p class="paddingbox"><font size="3" face="arial" color="black">请点击以下链接继续浏览网页</font></p>
			<br>
			<p><a style="cursor:pointer" onclick="history.back()"><font size="3" face="arial" color="black"><u>返回上一页面</u></font></a></p>
			<br>
			<p><a href="http://192.168.1.10:4545"><font size="3" face="arial" color="black">返回网站首页</font></a></p>
		</div>

		<script src="/static/javascripts/404.js"></script>

	</body>
</html>
